{% extends 'mysite/base.html' %}
 
{% block content %}
 
<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                {{ article.title }}
            </h3>
        </div>
        <form class="row g-3" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="col-12">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>

            <div class="col-6">
                <label class="form-label">Body</label>
                <textarea class="form-control" name="text" rows="4"></textarea>
            </div>

            <div class="col-12">
                <label class="form-label">Author</label>
                {{ user.author }}
                <input type="text" class="form-control" id="author" name="author">
            </div>


            <div class="col-12">
                <input type="file" accept="image/*" id="id_image" name="image">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
</div>
</main>
  
{% endblock %}